<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/jquery.ui/themes/base/resizable.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/angular-grid/ng-grid.css" />
<link rel="stylesheet" charset="utf-8" type="text/less" href="{{ STATIC_URL }}genapp-gendex/less/base.less">

<link rel="stylesheet" charset="utf-8" type="text/less" href="{{ STATIC_URL }}genapp-genexpress/less/base.less">

<!-- <link rel="stylesheet" charset="utf-8" type="text/css" href="{{ STATIC_URL }}bower_components/jquery-file-upload/css/jquery.fileupload-ui.css"> -->
