<script src="{{ STATIC_URL }}bower_components/tv4/tv4.js"></script>

<script src="{{ STATIC_URL }}bower_components/jquery.cookie/jquery.cookie.js"></script>

<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/core.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/widget.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/mouse.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/sortable.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/draggable.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/resizable.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/effect.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/effect-transfer.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery-caret/jquery.caret.js"></script>

<script src="{{ STATIC_URL }}genapp-gendex/bower_components/flot/jquery.flot.js"></script>
<script src="{{ STATIC_URL }}genapp-gendex/bower_components/flot/jquery.flot.selection.js"></script>

<script src="{{ STATIC_URL }}bower_components/angular/angular.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-route/angular-route.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-resource/angular-resource.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-grid/ng-grid-2.0.11.debug.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-ui-date/src/date.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-sanitize/angular-sanitize.js"></script>

<script src="{{ STATIC_URL }}genapp-gendex/bower_components/numericjs/lib/numeric-1.2.6.js"></script>

<script src="{{ STATIC_URL }}bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

<script src="{{ STATIC_URL }}genapp-gendex/app/app.js"></script>
<script src="{{ STATIC_URL }}genapp-gendex/app/controller.js"></script>
<script src="{{ STATIC_URL }}genapp-gendex/app/directives.js"></script>
<script src="{{ STATIC_URL }}genapp-gendex/app/directive.dextable.js"></script>
<script src="{{ STATIC_URL }}genapp-gendex/app/directive.sampleplot.js"></script>
<script src="{{ STATIC_URL }}genapp-gendex/app/directive.geneplot.js"></script>
