<script src="{{ STATIC_URL }}bower_components/tv4/tv4.js"></script>

<script src="{{ STATIC_URL }}bower_components/jquery.cookie/jquery.cookie.js"></script>

<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/core.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/widget.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/mouse.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/sortable.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/draggable.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/resizable.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/effect.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery.ui/ui/effect-transfer.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery-caret/jquery.caret.js"></script>

<script src="{{ STATIC_URL }}genpackage-gendex/bower_components/flot/jquery.flot.js"></script>
<script src="{{ STATIC_URL }}genpackage-gendex/bower_components/flot/jquery.flot.selection.js"></script>

<script src="{{ STATIC_URL }}genpackage-genexpress/bower_components/flot/jquery.flot.navigate.js"></script>
<script src="{{ STATIC_URL }}genpackage-genexpress/bower_components/flot/jquery.flot.image.js"></script>
<script src="{{ STATIC_URL }}genpackage-genexpress/bower_components/jquery.flot.axislabels/jquery.flot.axislabels.js"></script>
<script src="{{ STATIC_URL }}genpackage-genexpress/bower_components/jszip/dist/jszip.js"></script>
<script src="{{ STATIC_URL }}genpackage-genexpress/bower_components/jquery-ui-touch-punch-valid/jquery.ui.touch-punch.js"></script>

<script src="{{ STATIC_URL }}bower_components/angular/angular.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-route/angular-route.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-resource/angular-resource.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-grid/ng-grid-2.0.11.debug.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-ui-date/src/date.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-sanitize/angular-sanitize.js"></script>

<script src="{{ STATIC_URL }}genpackage-gendex/bower_components/numericjs/src/numeric.js"></script>
<script src="{{ STATIC_URL }}genpackage-gendex/bower_components/numericjs/src/svd.js"></script>

<script src="{{ STATIC_URL }}bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

<!-- added block -->
<!-- <script src="{{ STATIC_URL }}bower_components/jquery-file-upload/js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery-file-upload/js/jquery.fileupload-angular.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery-file-upload/js/jquery.fileupload-process.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
<script src="{{ STATIC_URL }}bower_components/jquery-file-upload/js/jquery.iframe-transport.js"></script> -->
<!-- //added block -->

<!-- added block -->
<!-- <script src="{{ STATIC_URL }}genjs/tags.js"></script>
<script src="{{ STATIC_URL }}genjs/editabletags.js"></script>
<script src="{{ STATIC_URL }}genjs/sharetable.js"></script>
<script src="{{ STATIC_URL }}genjs/table.js"></script> -->
<!-- //added block -->

<script src="{{ STATIC_URL }}genjs/filters.js"></script>
<script src="{{ STATIC_URL }}genjs/services.js"></script>

<!-- //added block -->
<script src="{{ STATIC_URL }}genpackage-genexpress/misc.js"></script>
<script src="{{ STATIC_URL }}genpackage-genexpress/app/services.js"></script>
<script src="{{ STATIC_URL }}genpackage-genexpress/app/directives.js"></script>
<!-- <script src="{{ STATIC_URL }}genpackage-genexpress/app/directive.geneselector.js"></script>
<script src="{{ STATIC_URL }}genpackage-genexpress/app/directive.profilegraph.js"></script> -->
<script src="{{ STATIC_URL }}genpackage-genexpress/app/directive.scatterplot.js"></script>
<script src="{{ STATIC_URL }}genpackage-genexpress/app/directive.widgetdock.js"></script>
<!-- <script src="{{ STATIC_URL }}genpackage-genexpress/app/filters.js"></script> -->
<!-- <script src="{{ STATIC_URL }}genpackage-genexpress/app/controllers.js"></script> -->
<!-- added block -->

<script src="{{ STATIC_URL }}genpackage-gendex/app/app.js"></script>
<script src="{{ STATIC_URL }}genpackage-gendex/app/controllers.js"></script>
<script src="{{ STATIC_URL }}genpackage-gendex/app/directives.js"></script>
<script src="{{ STATIC_URL }}genpackage-gendex/app/directive.volcanoplot.js"></script>
<script src="{{ STATIC_URL }}genpackage-gendex/app/directive.dextable.js"></script>
<script src="{{ STATIC_URL }}genpackage-gendex/app/directive.sampleplot.js"></script>
<script src="{{ STATIC_URL }}genpackage-gendex/app/directive.geneplot.js"></script>
