<div class="container">

    <h1>GenDex</h1>

    <div class="vertical-space" dextable shared="shared"></div>

    <div class="row">
        <div class="col-xs-6 windowWidthRef"></div>
    </div>
    <div class="genexpress">
        <div windowspane>
            <br>
            <div class="windows">
                <window wtitle="Differential Expression Analysis">
                    <div volcanoplot shared="shared"></div>
                </window>
                <window wtitle="MDS (Samples)">
                    <div sampleplot shared="shared"></div>
                </window>
            </div>
        </div>
    </div>

    <div class="vertical-space">
        <button type="button" class="btn btn-primary pull-right" ng-click="console.log('Not yet implemented');">Export to PDF</button>
    </div>

</div>
