<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1>GenDex</h1>
        </div>
    </div>

    <div class="row vertical-space">
        <div class="col-xs-12">
            <div dextable shared="shared"></div>
        </div>
    </div>

    <div class="row vertical-space">
        <div sampleplot class="col-xs-12 col-md-6" shared="shared"></div>
        <div class="visible-xs visible-sm vertical-space"></div>
        <div geneplot class="col-xs-12 col-md-6" shared="shared"></div>
    </div>

    <div class="row vertical-space">
        <button type="button" class="btn btn-primary pull-right" ng-click="console.log('Not yet implemented');">Export to PDF</button>
    </div>

</div>
