<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1>GenDex</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div dextable></div>
        </div>
    </div>

    <div class="row">
        <p>TEST</p>
        <div sampleplot class="col-xs-12 col-md-6 plotwidget" style="border: 1px solid red"></div>
        <div geneplot class="col-xs-12 col-md-6 plotwidget" style="border: 1px solid red"></div>
    </div>

    </div>

</div>
