.vertical-space {
    margin-top: 20px;
}

.plotcanvas {
    margin-top: 10px;
}

.dextable {
    height: 300px;
}

.btn-group-wrap {
    text-align: center;
}

.col6, .col0 {
    border-right: 3px solid black;
}

.ngViewport {
    border: 3px solid black;
}

.ngHeaderContainer {
        border-left: 3px solid black;
        border-right: 3px solid black;
        border-top: 3px solid black;
}

.tooltip {
    position: absolute;
    display: none;
    border: 1px solid #000;
    padding: 2px;
    background-color: #ccc;
    opacity: 0.80;
}
